.main_header{
  margin-top: 33px;
  height:115px;
  background-color: #fff;
}
.carol{
  margin-top: 35px;
  font-weight: 1000;
  color: #0E0E0E;
  font-family: Solway;
  font-size:x-large;
}

.parent_coral{
  margin-top: 25px;
}
.colortext{
  color:#0E0E0E;
  font-weight:500;
}
.navstyle{
  margin-top: 30px;
}
.img1{
  background-image: url("./img/file002.jpg");
  width:1296px;
  height:560px;
  background-size: auto;
}
.icon1{
  background-image: url("./img/images1.jpg");
  width:111px;
  height:130px;
  background-repeat: no-repeat;
  margin-left: 100px;
  background-size: auto;
}
a{
  text-decoration: none;
}